<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.data>
		<DbProviderFactories>
			<add name="Npgsql Data Provider"
				invariant="Npgsql"
				description=".Net Data Provider for PostgreSQL"
				type="Npgsql.NpgsqlFactory, Npgsql"
				support="FF" />
		</DbProviderFactories>
	</system.data>

	<connectionStrings>
		<add name="ControleDeInvestimentos"
			connectionString="server=localhost;Port=5432;user id=postgres;
    password=418951230;database=ControleDeInvestimentos"
			providerName="Npgsql" />
	</connectionStrings>
</configuration>
